@import url(@assets/fonts/fonts.css);

@import "tailwindcss";


@theme{
     --breakpoint-xs: 360px;
  --breakpoint-sm: 896px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1190px;
  --breakpoint-xl: 1280px;

}
@layer utilises{
  
    .bluebg{

  background-image: url("./assets/abstract-black-blue-marble-textured-background.jpg");
  background-size: 900% ;        /* fill container */
  background-position: center;   /* center image */
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: top left;
   /* no tiling */
    }

}
